# Core dependencies
snowflake-snowpark-python
snowflake-ml-python
snowflake.core
streamlit
trulens-providers-cortex

# Data processing & visualization
pandas~=2.2.3
plotly~=5.24.1
seaborn
openpyxl

# Utilities
python-dotenv~=1.0.1
nest-asyncio
llama-index
styleframe


trulens-core
trulens-providers-cortex
trulens-connectors-snowflake
snowflake.core
numpy~=1.26.4