# Core dependencies
snowflake-snowpark-python
snowflake-ml-python
snowflake.core
streamlit

# Data processing & visualization
pandas
plotly
seaborn
openpyxl

# Utilities
python-dotenv
nest-asyncio
llama-index
styleframe